body
{
    margin-left: 4px;
    margin-right: 4px;
    
}



.ui-page, .ui-header { background: #E8BF29;}
.ui-footer
{
    text-align: center;    
}

 .ui-header {
     
 }

 .ui-title{
     
     color: black;
     font-size: 28px;
     font-weight:bold;
 }

.err
{
    color: red;
}

#map_canvas
{
    text-align:center;
}

.logo
{
   background: url('images/logo-john-deere.gif') no-repeat;
}

.space25 {
    
    padding-top: 25px;
}

.linkSubmit{
    
    
   background: green;
    color: white;
}

.logoClass{
    
    float:left;display:inline;border: 8px solid #fff; margin-left: 30px; margin-top:25px;
 border-radius: 40px; -moz-border-radius: 40px; -webkit-border-radius: 40px;
}

.ui-checkbox-on{
    
    border-right: 2px solid blue;
}

.ui-input-text {
    color: black;
   

}

.ui-btn-hidden {
    
    background: red;
}


#loginForm{
    margin-top: 80px;

}
.space25{
   padding-top: 25px;   
 }

.space40{
   padding-top: 15px;   
 }

.ui-btn-hover-c:hover {
    color: yellow;
}

.ui-input-text {
    color: white;
}

.svg-menu img {
  height: 40px;
  float: left;
    padding-left: 4px;
    padding-right: 16px;
}


.svg-menu h1{
    
}